<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Online Shopping Site for Mobiles, Electronics, Furniture, Grocery, Lifestyle, Books &amp; More. Best Offers! |
    Dukan.com</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
</head>
<script>
  var user = '{{request.user}}';
  function getToken(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getToken('csrftoken');
  function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");

    // Loop through the array elements
    for (var i = 0; i < cookieArr.length; i++) {
      var cookiePair = cookieArr[i].split("=");

      /* Removing whitespace at the beginning of the cookie name
      and compare it with the given string */
      if (name == cookiePair[0].trim()) {
        // Decode the cookie value and return
        return decodeURIComponent(cookiePair[1]);
      }
    }

    // Return null if not found
    return null;
  }
  var cart = JSON.parse(getCookie('cart'))

  if (cart == undefined) {
    cart = {}
    // console.log('Cart Created!', cart)
    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
  }
  // console.log('Cart:', cart)
</script>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}">Dukaan.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">Store</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'AboutUs' %}">About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'ContactUs' %}">Contact Us</a>
        </li>

      </ul>
      <form class="form-inline" method=POST action="{% url 'search' %}">{% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-warning my-2 my-sm-0 rounded" type="submit">Search</button>
      </form>
      <div class="form-inline my-2 my-lg-0">
        <a href="{% url 'cart' %}">
          <img id="cart-icon" src="{% static 'images/cart.png' %}">
        </a>
        <p id="cart-total">{{cartItems}}</p>

      </div>
    </div>
  </nav>

  <div class="container">
    <br />
    {% block content %} {% endblock content %}
  </div>
  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!--FOOTER-->
  <footer class="mt-3">
    <div class="top_header">
      <section>
        <span><i class="fa fa-map-marker"></i></span>
        <span>Street, full address, state/province, country, pincode</span>
      </section>
      <section>
        <span><i class="fa fa-phone"></i></span>
        <span>(00) 0000 0000</span>
      </section>
      <section>
        <span><i class="fa fa-envelope"></i></span>
        <span>info@websitename.com</span>
      </section>
    </div>
    <span class="border-shape"></span>
    <div class="bottom_content">
      <section>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/c/CyberProgrammer" target="_blank"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-telegram"></i></a>
      </section>
      <section>
        <a href="{% url 'store'%}">Home</a>
        <a href="{% url 'AboutUs' %}">About us</a>
        <a href="{% url 'ContactUs' %}">Contact Us</a>
      </section>
    </div>
    <div class="copyright">
      Copyright © 2022 Dukaan.com - All rights reserved
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/cart.js'%}"></script>

</body>

</html>